version: '2'
services:
  {{ odoo_container }}:
    container_name: {{ odoo_container }}
    image: {{ odoo_image }}
    depends_on:
      - {{ postgres_container }}
    ports:
      - "{{ odoo_port }}:8069"
    environment:
      - HOST={{ postgres_container }}
      - USER={{ postgres_user }}
      - PASSWORD={{ postgres_password }} 
    volumes:
	  - {{ odoo_data }}:/var/lib/odoo
    networks:
      - {{ network_name }} 
  
  {{ postgres_container }}: 
    container_name: {{ postgres_container }}
    image: {{ postgres_image }}
    ports:
      - "{{ postgres_port }}:5432"
    environment:
      - POSTGRES_DB={{ postgres_database }}
      - POSTGRES_PASSWORD={{ postgres_password }}
      - POSTGRES_USER={{ postgres_user }}
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - {{ postgres_data }}:/var/lib/postgresql/data/pgdata
    networks:
      - {{ network_name }}

networks:
  {{ network_name }}: 
    driver: bridge

volume:
  {{ odoo_data }}:
  {{ postgres_data }}: