version: '2'
services:
  {{ postgres_container }}: 
    container_name: {{ postgres_container }}
    image: {{ postgres_image }}
    restart: always
    ports:
      - "{{ postgres_port }}:5432"
    environment:
      - POSTGRES_DB={{ postgres_database }}
      - POSTGRES_PASSWORD={{ postgres_password }}
      - POSTGRES_USER={{ postgres_user }}
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - {{ postgres_data }}:/var/lib/postgresql/data/pgdata
    networks:
      - {{ network_name }}

  {{ odoo_container }}:
    container_name: {{ odoo_container }}
    image: {{ odoo_image }}
    restart: always
    depends_on:
      - {{ postgres_container }}
    ports:
      - "{{ odoo_port }}:8069"
    environment:
      - HOST={{ postgres_container }}
      - PORT={{ postgres_port }}
      - USER={{ postgres_user }}
      - PASSWORD={{ postgres_password }} 
    command: odoo -i base -d {{ postgres_database }} --db_host={{ postgres_container }} -r {{ postgres_user }} -w {{ postgres_password }} 
    volumes:
      - {{ odoo_data }}:/var/lib/odoo
    networks:
      - {{ network_name }} 

networks:
  {{ network_name }}: 
    name: {{ network_name }}
    driver: bridge

volumes:
  {{ odoo_data }}:
  {{ postgres_data }}: